* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu;
}

section {
    padding: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    max-width: 100px;
    background: red;
    color: white;
    cursor: pointer;    
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 15px 20px;
}

header.sticky {
    background: linear-gradient(to left, #bdc3c7, #2c3e50);
    /* background: linear-gradient(to left, #ffd89b, #19547b); */
    background: #111;
    padding: 20px 100px;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.toggle img {
    background: #fff;
    display: none;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header ul li a:hover {
    color: red;
}

.menu li a:hover {
    color: red;
}

#banner {
    text-align: center;
    color: #fff;
}

#about {
    text-align: center;
    /* background-image: url("/images/tech1_1.jpeg");
    opacity: 0.2; */
}

/* Section: Banner */

.professional {
    text-decoration: underline;
    color: red;
}

.banner-text {
    width: 100%;
    position: absolute;
}

.banner-text ul {
    height: 50px;
    float: right;
}

.banner-text ul li {
    display: inline-block;
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.banner-text h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 100px;
}

.animation-area {
    background: linear-gradient(to left, #bdc3c7, #2c3e50);
    /* background: linear-gradient(to left, #ffd89b, #19547b); */
    background: #111;
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* Section: About */

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.about .heading {
    color: #111;
}

.heading h2 {
    font-weight: 600px;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    /* background-image: url("/images/tech5.jpeg"); */
}

.contentBx {
    margin: 100px 0;
    margin-right: 100px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contentBx p {
    margin: auto;
}

.resume {
    margin-top: 20px;
}

.btn:hover {
    background: #111;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

/* Section: Education */
#education {
    background: linear-gradient(to left, #bdc3c7, #2c3e50);
    /* background: linear-gradient(to left, #ffd89b, #19547b); */
    background: #111;
    /* position: absolute; */
    width: 100%;
}

#education .heading {
    color: #fff;
}

.university {
    position: relative; 
    text-align: center;
    margin-top: 100px;
    display: flex;
}

.university-data {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 0 10px;
    text-align: left;
}

.university-data h4 {
    color: #fff;
}

.university-data img {
    float: left;
    padding: 0 20px;
}

.university-data h2 {
    margin-bottom: 3px;
    color: #fff;
}

.university-data h2 a{
    color: #fff;
    text-decoration: none;
}

.university-data h2 a:hover{
    color: red;
}

.university-data p {
    margin: 20px 0;
    color: #fff;
    text-align: left;
}

.university-data ul {
    position: relative;
    padding-left: 355px;
    /* display: flex; */
}

.university-data ul li {
    color: #fff;
    position: relative;
    list-style-type: square;
    margin-bottom: 5px;
}

/* Section: Skills */

#skills {
    background: #fff;
}

.heading.black {
    color: #111;
}

.skills .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skillsBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    min-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 30px;
}

.skills .content .skillsBx:hover {
    /* background: linear-gradient(to bottom, #2c3e50, #bdc3c7) ; */
    /* background: linear-gradient(to bottom, #19547b, #ffd89b); */
    background: linear-gradient(to bottom, #111, rgb(236, 235, 235)) ;
    /* background: #111; */
    color: #111;
    /* filter: invert(2); */
     /* #2c3e50; */
}

.skills .content .skillsBx img {
    max-width: 80px;
    filter: invert(1);
}

.skills .content .skillsBx h2 {
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.skill-bar {
    width: 100%;
    background-color: #111;
    margin-top: 40px;
}

.skill-bar .skills {
    text-align: right;
    padding: 5px 0;
    color: #111;
}

.html {
    width: 70%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.css {
    width: 50%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.java {
    width: 60%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.javascript {
    width: 50%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.python {
    width: 60%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.node-js {
    width: 60%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.sql {
    width: 80%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.networking {
    width: 90%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}

.cloud {
    width: 90%; 
    background: linear-gradient(to left, red, #e6c0af) ;
}


/* Section: Project  */
.projects {
    background: linear-gradient(to left, #bdc3c7, #2c3e50) ;
    /* background: linear-gradient(to left, #ffd89b, #19547b); */
    background: #111;
    /* background-color: #19547b; */
}

.heading {
    color: white;
    margin-top: 20px;
}

.projects .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects .content .projectbx {
    width: 50%;
    padding: 20px;
    position: relative;
    text-align: center;
}

.projects .content .projectbx img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.overlay h2 {
    color: red;
}

.overlay p {
    color: white;
}

.overlay p span {
    color: #999;
}

.projects .content .projectbx img:hover {
    opacity: 0.2;
}

.projects .content .projectbx img:hover + .overlay {
    display: block; 
}

/* Section: Testimonoal  */
.testimonial {
    background: #f7f7f7;
}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}

.testimonial .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #111;
}

.testimonial .content .testimonialBx p {
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    color: red;
}

.testimonial .content .testimonialBx div {
    text-align: end;
}

.testimonial .content .testimonialBx div span {
    font-size: 14px;
    font-weight: 400;
}

/* Section: Contact */
.contact {
    background-color: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: red;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.formBx form input[type="submit"]:hover {
    background: #111;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: red;
    margin-bottom: 0;
}

.box .text a {
    text-decoration: none;
    color: #fff;
}

.box .text a:hover {
    color: red;
}

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    color: #666;
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer-icons:hover {
    color: red;
}
  
.footer-icons {
    margin: 20px 10px;
    color: #fff;
}

/* Responsive */
@media (max-width: 990px) {
    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }

    .box-area {
        height: 60%;
    }
    
    .animation-area {
        height: 60vh;
    }

    /* .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    ul.menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle .active {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    header .sticky .toggle {
        filter: invert(1);
    }

    .toggle img {
        background: #fff;
        display: inline-block;
    } */

    .menu li a span {
        display: none;
    }

    .banner-text h2 {
        margin-top: 300px;
        font-size: 2.5rem;
    }

    section {
        padding: 100px 50px;
    }

    .university-data ul {
        padding-left: 38px;
    }

    .university-data h2 {
        margin: 320px 20px 2px;
    }

    .university-data h4 {
        margin: 0 20px;
    }

    .university-data p {
        margin: 10px 20px;
        margin-top: 25px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .contentBx {
        text-align: center;
        width: 100%;
    }

    .skills .content .skillsBx {
        margin: 10px;
    }

    .projects .content .projectbx {
        width: 100%;
        /* padding: 10px; */
    }

    .testimonial .content .testimonialBx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: rgb(17, 17, 17);
    }

    .contactInfo {
        margin: 20px 0;
    }

    /* .menu li {
        list-style: none;
    } */

    /* .menu li a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        color: #111;
        text-decoration: none;
        font-size: 20px;
    } */

    .menu li a:hover {
        color: red;
    }

    /* .banner {
        position: relative;
    }

    .sticky {
        flex-direction: column;
    }

    .toggle ul {
        flex-direction: column;
        margin-top: 15px;
    }

    .toggle ul li {
        padding: 15px 0;
    }

    .banner-text {
        margin-top: 200px;
    }

    .banner-text h2 {
        font-size: 40px;
    }

    .animation-area {
        margin-top: 200px;
    } */
}

@media (max-width: 600px) {
    header,
    header.sticky {
        padding: 20px 20px;
    }
    
    section {
        padding: 100px 40px;
    }

    .box-area {
        height: 70%;
    }
    
    .animation-area {
        height: 70vh;
    }
}

@media (max-width: 1213px) {


    .university-data ul {
        padding-left: 38px;
    }

    .university-data h2 {
        margin: 320px 20px 2px;
    }

    .university-data h4 {
        margin: 0 20px;
    }

    .university-data p {
        margin: 10px 20px;
        margin-top: 25px;
    }
    
    .menu ul li i {
        padding: 0;
    }

    .overlay {
        width: 100%;
    }

}